body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

/* Estilos de los botones */
.button {
    background-color: #e74c3c;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.2s;
    
}
.button i {
    margin-right: 8px; /* Agrega un espacio entre el icono y el texto */
}

#saveButton {
    background-color: rgb(35, 35, 236)92b; /* Color verde */
    color: rgb(3, 3, 3);
    padding: 20px 40px; /* Tamaño más grande */
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 24px; /* Tamaño de fuente más grande */
    transition: background-color 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

#saveButton:hover {
    background-color: #6936ec; /* Color verde más oscuro al pasar el ratón */
}

/* Estilos del botón de agregar tarjeta */
#addCard {
    background-color: #27ae60;
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 24px;
    transition: background-color 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#addCard:hover {
    background-color: #219d56;
}

/* Estilos del formulario de agregar nueva tarjeta */
.add-card-form {
    background: linear-gradient(to bottom, #d988e7, #c39bd3); /* Degradado lila */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.add-card-form label {
    color: rgb(8, 8, 8);
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
}

.add-card-form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: transparent;
}

.add-card-form .submit-button {
    background-color: #27ae60;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.2s;
}
.add-card-form label {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
    font-size: 24px;
}

.add-card-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.add-card-form .submit-button:hover {
    background-color: #219d56;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

/* Estilos de las tarjetas */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    border: none;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    color: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos del modal de agregar tarjeta */
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Degradado lila */
    opacity: 0.9;
}

.modal-content {
    background: linear-gradient(to bottom, #d988e7, #c39bd3);
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 60%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos del modal de detalles de la tarjeta */
.details-modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.details-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 60%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

.search-input {
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.fa-search {
    padding: 10px 30px;
    margin-left: 150px;
    position: relative;
    left: 10px;
    color: #aaa;
}